<ul class="dropdown-menu">
    <li><a href="#">Message</a></li>
    <li class="divider"></li>
    <li><a href="#">Make Owner</a></li>
    <li><a href="#">Make Admin</a></li>
    <li><a href="#">Make Participant</a></li>
    <li class="divider"></li>
    <li><a href="#">Block</a></li>
</ul>
