<a class="btn btn-xs btn-white btn-circle-xs pull-right", id="<%="button_#{attachment.id}" %>">X</a>
<li id="<%="delete_#{attachment.id}" %>" style="display: none">Are you sure you want to delete this file?
    <a><%= link_to "Yes", attachment_path(attachment), data: { confirm: 'Are you sure?' }, method: :delete %></a>
    <a href="#" id="<%="dont_delete_#{attachment.id}" %>"> No </a>
</li>