
<%= render partial: "work_orders/sorted_work_orders", locals: {owner: owner, work_orders: @work_orders.where(:status_id => [1, 2, 3]), work_order_title: "Current Work Orders"} %>
<%= render partial: "work_orders/sorted_work_orders", locals: {owner: owner, work_orders: @work_orders.where(:status_id => [4, 5]), work_order_title: "Historical Work Orders"} %>

<% if @owner.authenticated_users.include?(current_user.id) %>
    <a data-toggle="modal" class="btn btn-primary pull-right" href="#modal-form-work_order">Add a Work Order</a>
    <div id="modal-form-work_order" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-body">
        <%= render partial: "work_orders/form", locals: {agreement: owner, work_order: @owner.work_orders.new} %>
    </div>
    </div>
    </div>
<% end %>
 