<div class="footer">
    <div class="pull-right">
    </div>
    <div>
        <strong>Copyright</strong> Bunge Limited &copy 2016
    </div>
</div>

<%= render partial: "partials/custom_js" %>