<li class="<%= is_active_controller('metrics') %>">
    <%= link_to metrics_index_path do %>
    <i class="fa fa-pie-chart"></i> <span class="nav-label" data-i18n="nav.metrics">Metrics</span>
    <% end %>
</li>