<li class="<%= is_active_controller('graphs') %>">
    <a href="#"><i class="fa fa-building"></i> <span class="nav-label" data-i18n="nav.graphs">Offices</span><span class="fa arrow"></span></a>
   
</li>